# API
API_PORT=4000
API_PREFIX=api

# JWT
JWT_ACCESS_TOKEN_SECRET=myfavouritebackendframework
JWT_ACCESS_TOKEN_EXPIRES=36000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=101
DB_NAME=nest_boilerplate
